:root {
    --color-border-light: hsla(0, 0%, 87%, 1);
    --color-button-active: hsla(192, 87%, 43%, 1);
    --color-light-default: hsla(0, 0%, 100%, 1);

    --font-size-s: .875rem;
    --font-size-m: 1rem;
    --font-size-l: 1.5rem;

    --layer-background: 0;
    --layer-content: 10;

    --radius-small: 4px;
    --radius-default: calc(1.5 * var(--radius-small));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--default-font);
    font-size: 16px;
}

body {
}

input[type=text],
input[type=password] {
    border: 1px solid var(--color-border-light);
    border-radius: var(--radius-small);
    padding: .75rem;
}

input[type=submit] {
    background: var(--color-button-active);
    border: none;
    border-radius: var(--radius-default);
    color: var(--color-light-default);
    font-size: var(--font-size-s);
    height: 3rem;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
